{% extends 'generic.html' %}
{% block morestyle %}

input[type=text], select, input[type=password]{
    width: 50%;
    padding: 0px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
	
div.sub {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:center;

}

label {
	margin: 0;
	margin-top: 15px;
}

input[type=submit]{
	
	margin-top: 20px;
}

{% endblock %}
{% block tags %}
{% endblock %}
{% block titulo_barra %}Crear un usuario{% endblock %}

{% block ejecucion %}
<form action="#" method="get" >
<div class="sub">
	<div>
	{% if messages %}
		{% if messages.1 == 'bad' %}
		<div class="alert">
		{% else %}
		<div class="good">
		{% endif %}
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		{{ messages.0 }}
		</div>
	{% endif %}
	<img src="https://cdn2.iconfinder.com/data/icons/oxygen/128x128/apps/tux.png" width="50px" height="50px"/>
	<label>Nombre de usuario*</label>
	<input type="text" name="username"" autocomplete="off"/>
	<label>Password*</label>
	<input type="password" name="password1" autocomplete="off"/>
	<label>Repite la password*</label>
	<input type="password" name="password2" autocomplete="off"/>
	<label>Grupo principal</label>
	<select name="group" style="height:55px;">
		<option value="default">default</option>
	{% for group in groups %}
	  <option value="{{ group }}">{{ group }}</option>
	{% endfor %}
	</select>
	<label>Grupos secundarios</label>
	<select multiple='multiple' name="groups" style="height:300px;">
	{% for group in groups %}
	  <option value="{{ group }}">{{ group }}</option>
	{% endfor %}
	</select>
	<label>Directorio home (Ruta absoluta)</label>
	<input type="text" placeholder="default" value="default" name="homedir" autocomplete="off"/>
	<label>Nombre completo</label>
	<input type="text" name="fullname" autocomplete="off"/>
	<label>Direccion</label>
	<input type="text" name="direccion" autocomplete="off"/>
	<label>Numero de telefono</label>
	<input type="text" name="telefono" autocomplete="off"/>
	<br/>
	<input type="submit" name="Go" value="Crear Usuario" style="width:200px">
	</div>
</div>
</form>
{% endblock %}

{% block descripcion %}Herramienta que permite crear un usuario del sistema. Se permite especificar un directorio HOME o dejar el por defecto. Se permite especificar cual sera su grupo principal o dejar el por defecte. Se permite especificar algunos aspectos de su GECOS o dejarlo en blanco. Se permite especificar los grupos secundarios a los cuales pertenece. Consulta el apartado de esta herramienta en la documentacion para mas informacion.{% endblock %}

